<h1>Районы</h1>
<%if user_role != "visitor"%>
<%= link_to 'новый канал', new_channel_path %> |
<%end%>
<%= link_to 'загрузить таблицу в XLS формате', channels_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>название</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @channels.each do |channel| %>
  <tr>
    <td><%= channel.name %></td>
    <td><%= link_to 'см.', channel %></td>
    <%if user_role != "visitor"%>
    <td><%= link_to 'ред.', edit_channel_path(channel) %></td>
    <td><%= link_to 'уд.', channel, confirm: 'Вы уверены?', method: :delete %></td>
    <%end%>
  </tr>
<% end %>
  </tbody>
</table>

<br />

