<h1>Справочник каналов привлечения клиентов</h1>

<%= link_to 'Новый канал', new_channel_path %> | <%= link_to 'загрузить таблицу в XLS формате', channels_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>название</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @channels.each do |channel| %>
  <tr>
    <td><%= channel.name %></td>
    <td><%= link_to 'см.', channel %></td>
    <td><%= link_to 'ред.', edit_channel_path(channel) %></td>
    <td><%= link_to 'уд.', channel, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

