<div class="form-wrap clearfix">
  <h1><%= action_name == 'edit' ? 'Редактирование офиса' : 'Новый офис'%></h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@office) do |f| %>
  <%= f.input :name, label: "название" %>
  <%= f.input :address, label: "адрес" %>
  <%= f.input :phone, label: "телефон" %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', offices_path, class: "btn"%>
      </div>
    </div>
<% end %>
</div>