<%= simple_form_for(@office) do |f| %>
  <%= f.input :name, label: "имя" %>
  <%= f.input :address, label: "адрес" %>
  <%= f.input :phone, label: "телефон" %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', offices_path, class: "btn"%>
      </div>
    </div>
<% end %>
