<h1>офисы</h1>
<%= link_to 'новый офис', new_office_path %> | <%= link_to 'загрузить таблицу в XLS формате', offices_to_xls_path + ".xls" %>

<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>имя</th>
    <th>адрес</th>
    <th>телефон</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @offices.each do |office| %>
  <tr>
    <td><%= office.name %></td>
    <td><%= office.address %></td>
    <td><%= office.phone %></td>
    <td><%= link_to 'см.', office %></td>
    <td><%= link_to 'ред.', edit_office_path(office) %></td>
    <td><%= link_to 'уд.', office, confirm: 'уверены?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

