<h2>редактировать <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :user_nick, :required => true, label: "логин" %>
    <%= f.input :password, :autocomplete => "off", :hint => "оставьте поле пустым если не хотите менять пароль", :required => false, label: "пароль" %>
    <%= f.input :password_confirmation, :required => false, label: "повторите пароль" %>
    <%= f.input :current_password, :hint => "текущий пароль", :required => true, label: "текущий пароль" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "обновить" %>
  </div>
<% end %>

