<div class="form-wrap clearfix">
  <h1>Новый статус</h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@status) do |f| %>
    <%= f.input :name, label: "название" %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', statuses_path, class: "btn"%>
      </div>
    </div>
<% end %>
</div>