<div class="form-wrap clearfix">
  <h1><%= action_name == 'edit' ? 'Редактирование статуса' : 'Новый статус'%></h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@status) do |f| %>
    <%= f.input :name, label: "Название" %>
    <div id="submit">
      <%= f.button :submit, :value => "Сохранить"%>
      <div>
        <%= link_to 'К списку', statuses_path, class: "btn"%>
      </div>
    </div>
<% end %>
</div>