<div class='table-actions'>
  <h1 class='page-title'>Статусы</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_status_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to statuses_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @statuses, :window => 2 %>
</div>
<table id="demotable" class="table table-striped">

  <thead>
  <tr class="sort">
    <th class='record-manipulate'></th>
    <th>название</th>
  </tr>
  </thead>
  <tbody>
  <% @statuses.each do |status| %>
      <tr>
        <td class="manipulate-box">
          <ul>
            <li><%= link_to status do %> <i class="icon-search"></i>
              <% end %></li>
            <% if user_role != "visitor" %>
                <li><%= link_to edit_status_path(status) do %> <i class="icon-pencil"></i>
                  <% end %></li>
                <li><%= link_to status, confirm: 'Вы уверены?', method: :delete do %>
                      <i class="icon-trash"></i>
                  <% end %></li>
            <% end %>
          </ul>
        </td>
        <td><%= status.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

