<div class="form-wrap clearfix">
  <h1><%= action_name == 'edit' ? 'Редактирование периода' : 'Новый период'%></h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@period) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :period, label: 'Период' %>
  </div>

    <div id="submit">
      <%= f.button :submit, :value => "Сохранить"%>
      <div>
        <%= link_to 'К списку', periods_path, class: "btn"%>
      </div>
    </div>
<% end %>
</div>