<div class="form-wrap clearfix">
  <h1>Новый период</h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@period) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :period, label: 'период' %>
  </div>

    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', periods_path, class: "btn"%>
      </div>
    </div>
<% end %>
</div>