<p>
  <b>Дата:</b>
  <%= @msalary.date %>
</p>

<p>
  <b>Сумма:</b>
  <%= @msalary.summ %>
</p>

<p>
  <b>Менеджер:</b>
  <%= @msalary.manager.try(:name)%>
</p>

<p>
  <b>Начало:</b>
  <%= @msalary.start %>
</p>
<p>
  <b>Конец:</b>
  <%= @msalary.end %>
</p>

<p>
  <b>Форма вылпаты:</b>
  <%= @msalary.type %>
</p>

<p>
  <b>Комментарий:</b>
  <%= @msalary.comment %>
</p>