<div class='table-actions'>
  <h1 class='page-title'>Менеджеры</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_msalary_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to msalaries_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @msalaries, :window => 2 %>
</div>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th class='record-manipulate'></th>
    <th> <div id="count" style="text-align: center; color: #000000;"></div>Менеджер</th>
    <th>Дата</th>
    <th> <div id="result" style="text-align: center; color: #000000;"></div> Сумма</th>
    <th>Начало</th>
    <th>Конец</th>
    <th>Форма выплаты</th>
    <th>Комментарий</th>
    <th>Создано</th>
    <th>Отредактировано</th>
  </tr>
  </thead>
<tbody>
<% @msalaries.each do |msalary| %>
  <tr class=<%= "tr" if msalary.summ.present?%>>
    <td class="manipulate-box">
      <ul>
        <li><%= link_to url_for(id: msalary, anchor: 'myModal'), {:remote => true, 'data-toggle'=>"modal"} do%> <i class="icon-search"></i>
          <% end %></li>
        <% if user_role != "visitor" %>
            <li><%= link_to edit_msalary_path(msalary) do %> <i class="icon-pencil"></i>
              <% end %></li>
            <li><%= link_to msalary, confirm: 'Вы уверены?', method: :delete do %>
                  <i class="icon-trash"></i>
              <% end %></li>
        <% end %>
      </ul>
    </td>
    <td><%= msalary.manager.try(:name)%></td>
    <td><%= msalary.date%></td>
    <td class="sum"><%= msalary.summ %></td>
    <td><%= msalary.start%></td>
    <td><%= msalary.end%></td>
    <td><%= msalary.type %></td>
    <td><%= msalary.comment %></td>
    <td><%= msalary.created_at.strftime("#{ formating_month(msalary.created_at)} %H:%M:%S") %></td>
    <td><%= msalary.updated_at.strftime("#{ formating_month(msalary.updated_at)} %H:%M:%S") %></td>
  </tr>
<% end %>
</tbody>
</table>
<div class="pagination-block">
  <%= paginate @msalaries, :window => 2 %>
</div>

<!-- Modal -->
<%= set_modal_window %>
<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        var count =0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += parseFloat($(this).find(".sum").html());
            }
        });
        $('tbody tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                count+=1;
            }
        });
        $('#result').text(res);
        $('#count').text(count);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                var count =0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += parseFloat($(this).find(".sum").html());
                    }
                });
                $('tbody tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        count+=1;
                    }
                });
                $('#result').text(res);
                $('#count').text(count);
            }, 350 );
        });


    });

</script>


