<h1>Выплаты менеджерам</h1>

<%= link_to 'новая выплата', new_msalary_path %> | <%= link_to 'загрузить таблицу в XLS формате', msalaries_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>менеджер</th>
    <th>дата</th>
    <th> <div id="result" style="text-align: center; color: #000000;"></div> сумма</th>
    <th>начало</th>
    <th>конец</th>
    <th>Форма выплаты</th>
    <th>комментарий</th>
    <th>период оплаты с:</th>
    <th>период оплаты по:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @msalaries.each do |msalary| %>
  <tr class=<%= "tr" if msalary.summ.present?%>>
    <td><%= msalary.manager.name if msalary.manager_id.present?%></td>
    <td><%= msalary.date %></td>
    <td class="sum"><%= msalary.summ %></td>
    <td><%= msalary.try(:start) %></td>
    <td><%= msalary.try(:end) %></td>
    <td><%= msalary.type %></td>
    <td><%= msalary.comment %></td>
    <td><%= msalary.pay_from %></td>
    <td><%= msalary.pay_to %></td>
    <td><%= link_to 'см.', msalary %></td>
    <td><%= link_to 'ред.', edit_msalary_path(msalary) %></td>
    <td><%= link_to 'уд.', msalary, confirm: 'уверены?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += parseFloat($(this).find(".sum").html());
            }
        });
        $('#result').text(res);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += parseFloat($(this).find(".sum").html());
                    }
                });
                $('#result').text(res);
            }, 350 );
        });

    });

</script>


