<h1>Выплаты менеджерам</h1>

<%= link_to 'новая выплата', new_msalary_path %> | <%= link_to 'загрузить таблицу в XLS формате', msalaries_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>менеджер</th>
    <th>дата</th>
    <th>сумма</th>
    <th>начало</th>
    <th>конец</th>
    <th>Форма выплаты</th>
    <th>комментарий</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @msalaries.each do |msalary| %>
  <tr>
    <td><%= msalary.manager.name %></td>
    <td><%= msalary.date %></td>
    <td><%= msalary.summ %></td>
    <td><%= msalary.try(:start) %></td>
    <td><%= msalary.try(:end) %></td>
    <td><%= msalary.type %></td>
    <td><%= msalary.comment %></td>
    <td><%= link_to 'см.', msalary %></td>
    <td><%= link_to 'ред.', edit_msalary_path(msalary) %></td>
    <td><%= link_to 'уд.', msalary, confirm: 'уверены?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>


