

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">менеджер</Data></Cell>
        <Cell><Data ss:Type="String">дата</Data></Cell>
        <Cell><Data ss:Type="String">сумма</Data></Cell>
        <Cell><Data ss:Type="String">тип</Data></Cell>
        <Cell><Data ss:Type="String">комментарий</Data></Cell>
        <Cell><Data ss:Type="String">начало</Data></Cell>
        <Cell><Data ss:Type="String">конец</Data></Cell>
      </Row>
      <% @msalaries.each do |msalaries| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= msalaries.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= msalaries.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= msalaries.date%></Data></Cell>
            <Cell><Data ss:Type="String"><%= msalaries.summ %></Data></Cell>
            <Cell><Data ss:Type="String"><%= msalaries.type %></Data></Cell>
            <Cell><Data ss:Type="String"><%= msalaries.comment %></Data></Cell>
            <Cell><Data ss:Type="String"><%= msalaries.start %></Data></Cell>
            <Cell><Data ss:Type="String"><%= msalaries.end %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

