<p id="notice"><%= notice %></p>

<p>
  <b>Manager:</b>
  <%= @msalary.manager.name %>
</p>

<p>
  <b>Date:</b>
  <%= @msalary.date %>
</p>

<p>
  <b>Summ:</b>
  <%= @msalary.summ %>
</p>

<p>
  <b>Month:</b>
  <%= @msalary.month %>
</p>

<p>
  <b>Type:</b>
  <%= @msalary.type %>
</p>

<p>
  <b>Comment:</b>
  <%= @msalary.comment %>
</p>


<%= link_to 'Edit', edit_msalary_path(@msalary) %> |
<%= link_to 'Back', msalaries_path %>
