<div class="form-wrap clearfix">
  <h1>Регистрация нового пользователя</h1>
  <hr>
<%= simple_form_for(@user, :url => create_user_path, :html => { :class => 'form-horizontal' }) do |f| %>

    <div class="form-inputs">
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :password, :required => true, label: "Пароль" %>
      <%= f.input :password_confirmation, :required => true, label: "Повторите пароль" %>
      <%= f.input :name, :required => true, label: "Имя"%>
      <%= f.input :surname, :required => true, label: "Фамилия" %>
      <%= f.input :position, :required => true, label: "Должность" %>
      <%= f.input :phone, :required => true, label: "Телефон" %>
      <%= f.association :office, :required => true, label: "Офис" %>
      <%= f.input :role, collection: [["admin", "admin"],["user", "user"],["visitor", "visitor"]], as: :select, label: "Права"%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Готово" %>
    </div>
<% end %>
</div>

