<%= simple_form_for(@user, :url => create_user_path, :html => { :class => 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :user_nick, :required => true, label: "логин" %>
      <%= f.input :password, :required => true, label: "пароль" %>
      <%= f.input :password_confirmation, :required => true, label: "повторите пароль" %>
      <%= f.input :role, collection: [["admin", "admin"],["user", "user"]], as: :radio_buttons, label: "права"%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "готово" %>
    </div>
<% end %>


