<h1>Пользователи</h1>
<%= link_to "Добавить нового пользователя", new_user_path%>

<table class="table table-striped">
  <tr>
    <th>email</th>
    <th>имя</th>
    <th>фамилия</th>
    <th>должность</th>
    <th>телефон</th>
    <th>офис</th>
    <th>тип пользователя</th>
    <th>заблокирован?</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

<% @users.each do |course| %>
  <tr>
    <td><%= course.email %></td>
    <td><%= course.name %></td>
    <td><%= course.surname %></td>
    <td><%= course.position %></td>
    <td><%= course.phone %></td>
    <td><%= course.office.try(:name)%></td>
    <td><%= course.role %></td>
    <td>
      <%if course.ban == "true"%>
      да
     <%else%>
      нет
      <%end%>
    </td>
    <td><%= link_to 'ред.', edit_user_path(course.id) %></td>
    <td><%= link_to 'уд.', course, confirm: 'Are you sure?', method: :delete %></td>

  </tr>
<% end %>
</table>