<div class="form-wrap clearfix">
  <h1><%= action_name == 'edit' ? 'Редактирование менеджера' : 'Новый менеджер'%></h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@manager) do |f| %>
    <%= f.input :name , label: "имя"%>
    <%= f.input :phone, label: "телефон" %>
    <%= f.input :idvk , label: "id-vk"%>
    <%= f.input :school, label: "школа" %>
    <%= f.input :salary, label: "оклад" %>
    <%= f.input :percent, label: "процент" %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', managers_path, class: "btn"%>
      </div>
    </div>
<% end %>
</div>