<p>
  <b>имя:</b>
  <%= @manager.name %>
</p>

<p>
  <b>телефон:</b>
  <%= @manager.phone %>
</p>

<p>
  <b>Id-vk:</b>
  <%= @manager.idvk %>
</p>

<p>
  <b>школа:</b>
  <%= @manager.school %>
</p>

<p>
  <b>оклад:</b>
  <%= @manager.salary %>
</p>

<p>
  <b>оклад:</b>
  <%= @manager.percent %>
</p>
