<p>
  <b>Имя:</b>
  <%= @manager.name %>
</p>

<p>
  <b>Телефон:</b>
  <%= @manager.phone %>
</p>

<p>
  <b>ID-VK:</b>
  <%= @manager.idvk %>
</p>

<p>
  <b>Школа:</b>
  <%= @manager.school %>
</p>

<p>
  <b>Оклад:</b>
  <%= @manager.salary %>
</p>

<p>
  <b>Оклад:</b>
  <%= @manager.percent %>
</p>
