<h1>Менеджеры</h1>

<%= link_to 'новый менеджер', new_manager_path %> | <%= link_to 'загрузить таблицу в XLS формате', managers_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>имя</th>
    <th>телефон</th>
    <th>Id-vk</th>
    <th>школа</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @managers.each do |manager| %>
  <tr>
    <td><%= manager.name %></td>
    <td><%= manager.phone %></td>
    <td><%= manager.idvk %></td>
    <td><%= manager.school %></td>
    <td><%= link_to 'см.', manager %></td>
    <td><%= link_to 'ред.', edit_manager_path(manager) %></td>
    <td><%= link_to 'уд.', manager, confirm: 'уверены?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

