

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">имя</Data></Cell>
        <Cell><Data ss:Type="String">телефон</Data></Cell>
        <Cell><Data ss:Type="String">vk(id)</Data></Cell>
        <Cell><Data ss:Type="String">школа</Data></Cell>
        <Cell><Data ss:Type="String">оклад</Data></Cell>
        <Cell><Data ss:Type="String">процент</Data></Cell>
      </Row>
      <% @managers.each do |manager| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= manager.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= manager.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= manager.phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= manager.idvk %></Data></Cell>
            <Cell><Data ss:Type="String"><%= manager.school %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= manager.salary %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= manager.percent %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

