<%= simple_form_for(@schedule, :html => { :class => 'form-horizontal' }) do |f| %>
    <div id="date_time">
  <% %w(понедельник вторник среда четверг пятница суббота воскресение ).each do |i|%>
          <div>
  <%= label_tag i%>
  <%= check_box_tag "day[]", i %>
  <%= select_tag "hour[]", options_for_select(range_format((0..23))), :prompt => "часы"%>
  <%= select_tag  "minute[]", options_for_select(range_format((0..59))), :prompt => "минуты"%>
          </div>
  <% end%>
    </div>

    <div class="input">
      <%=f.label :start, "начало занятий"%>
      <%= f.text_field :start%>
    </div>
    <div class="input">
      <%=f.label :end, "конец занятий"%>
      <%= f.text_field :end%>
    </div>
  <%= f.association :office, label: "офис" %>
  <%= f.association :teacher, :label_method => :fio, label: "преподаватель" %>
  <%= f.association :course, label: "курс" %>
  <%= f.input :hours, collection: Period.all.map(&:period) , :as => :select, label: "часы" %>
  <%= f.input :comment, label: "комментарий" , :input_html => { :cols => 50, :rows => 4 } %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', schedules_path, class: "btn"%>
      </div>
    </div>
<% end %>
