<p>
  <b>День:</b>
  <%= @schedule.day %>
</p>

<p>
  <b>Время:</b>
  <%= @schedule.time %>
</p>

<p>
  <b>Офис:</b>
  <%= @schedule.office.name %>
</p>

<p>
  <b>Преподаватель:</b>
  <%= @schedule.teacher.try(:fio) %>
</p>

<p>
  <b>Курс:</b>
  <%= @schedule.course.name %>
</p>

<p>
  <b>Часы:</b>
  <%= @schedule.hours %>
</p>

<p>
  <b>Начало:</b>
  <%= @schedule.start %>
</p>

<p>
  <b>Конец:</b>
  <%= @schedule.end %>
</p>

<p>
  <b>Комментарий:</b>
  <%= @schedule.comment %>
</p>