<div class='table-actions'>
  <h1 class='page-title'>Графики</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_schedule_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to new_schedule_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @schedules, :window => 2 %>
</div>

<table id="demotable" class="table table-striped">
  <thead>
    <tr class="sort">
      <th class='record-manipulate'></th>
      <th><div id="result" style="text-align: center; color: #000000;"></div>День</th>
      <th>Время</th>
      <th>Начало занятий</th>
      <th>Конец занятий</th>
      <th>Офис</th>
      <th>Преподаватель</th>
      <th>Курс</th>
      <th>Часы</th>
      <th>Комментарий</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr class="tr">
        <td class="manipulate-box">
          <ul>
            <li><%= link_to url_for(id: schedule, anchor: 'myModal'), {:remote => true, 'data-toggle'=>"modal"} do%> <i class="icon-search"></i>
              <% end %></li>
            <% if user_role != "visitor" %>
                <li><%= link_to edit_schedule_path(schedule) do %> <i class="icon-pencil"></i>
                  <% end %></li>
                <li><%= link_to schedule, confirm: 'Вы уверены?', method: :delete do %>
                      <i class="icon-trash"></i>
                  <% end %></li>
            <% end %>
          </ul>
        </td>
        <td><%= schedule.day %></td>
        <td><%= schedule.time %></td>
        <td><%= schedule.start %></td>
        <td><%= schedule.end %></td>
        <td><%= schedule.office.name %></td>
        <td><%= schedule.teacher.try(:fio)%></td>
        <td><%= schedule.course.name %></td>
        <td><%= schedule.hours %></td>
        <td><%= schedule.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Modal -->
<%= set_modal_window %>
<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += 1;
            }
        });
        $('#result').text(res);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += 1;
                    }
                });
                $('#result').text(res);
            }, 350 );
        });

    });

</script>
