<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">дни</Data></Cell>
        <Cell><Data ss:Type="String">время</Data></Cell>
        <Cell><Data ss:Type="String">начало занятий</Data></Cell>
        <Cell><Data ss:Type="String">конец занятий</Data></Cell>
        <Cell><Data ss:Type="String">офис</Data></Cell>
        <Cell><Data ss:Type="String">преподаватель</Data></Cell>
        <Cell><Data ss:Type="String">курс</Data></Cell>
        <Cell><Data ss:Type="String">часы</Data></Cell>
        <Cell><Data ss:Type="String">комментарий</Data></Cell>
      </Row>
      <% @schedules.each do |schedule| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= schedule.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.day %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.time %></Data></Cell>
            <Cell><Data ss:Type="String"><%= formating_month(schedule.start)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= formating_month(schedule.end)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.office.try(:name) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.teacher.try(:fio)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.course.try(:name) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.hours %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.comment %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

