

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">дни</Data></Cell>
        <Cell><Data ss:Type="String">время</Data></Cell>
        <Cell><Data ss:Type="String">адрес</Data></Cell>
        <Cell><Data ss:Type="String">преподаватель</Data></Cell>
        <Cell><Data ss:Type="String">курс</Data></Cell>
        <Cell><Data ss:Type="String">часы</Data></Cell>
        <Cell><Data ss:Type="String">начало</Data></Cell>
      </Row>
      <% @schedules.each do |schedule| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= schedule.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.day %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.time %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.office.address if schedule.office_id.present? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.teacher.name if schedule.teacher_id.present? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.course.name if schedule.course_id.present? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.hours %></Data></Cell>
            <Cell><Data ss:Type="String"><%= schedule.start.strftime("%d.%m.%Y") %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

