<p id="notice"><%= notice %></p>

<p>
  <b>день:</b>
  <%= @schedule.day %>
</p>

<p>
  <b>время:</b>
  <%= @schedule.time %>
</p>

<p>
  <b>офис:</b>
  <%= @schedule.office.name %>
</p>

<p>
  <b>преподаватель:</b>
  <%= @schedule.teacher.try(:fio) %>
</p>

<p>
  <b>курс:</b>
  <%= @schedule.course.name %>
</p>

<p>
  <b>часы:</b>
  <%= @schedule.hours %>
</p>

<p>
  <b>начало:</b>
  <%= @schedule.start %>
</p>

<p>
  <b>конец:</b>
  <%= @schedule.end %>
</p>

<p>
  <b>комментарий:</b>
  <%= @schedule.comment %>
</p>



<%= link_to 'редактирование', edit_schedule_path(@schedule) %> |
<%= link_to 'к списку', schedules_path %>
