<div class="form-wrap clearfix">
  <h1><%= action_name == 'edit' ? 'Редактирование типа расходов' : 'Новый тип расходов'%></h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@cost) do |f| %>
    <%= f.input :name, label: "имя" %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', costs_path, class: "btn"%>
      </div>
    </div>
<% end %>
</div>