<h1>Типы расходов</h1>

<%= link_to 'новый тип расходов', new_cost_path %>
<table class="table table-striped">
  <tr>
    <th>имя</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @costs.each do |cost| %>
  <tr>
    <td><%= cost.name %></td>
    <td><%= link_to 'см.', cost %></td>
    <td><%= link_to 'ред.', edit_cost_path(cost) %></td>
    <td><%= link_to 'уд.', cost, confirm: 'уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

