<div class='table-actions'>
  <h1 class='page-title'>Типы расходов</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_cost_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to costs_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @costs, :window => 2 %>
</div>

<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th class='record-manipulate'></th>
    <th>Название</th>
  </tr>
  </thead>
  <tbody>

<% @costs.each do |cost| %>
  <tr>
    <td class="manipulate-box">
      <ul>
        <li><%= link_to url_for(id: cost, anchor: 'myModal'), {:remote => true, 'data-toggle'=>"modal"} do%><i class="icon-search"></i>
          <% end %></li>
        <% if user_role != "visitor" %>
            <li><%= link_to edit_cost_path(cost) do %> <i class="icon-pencil"></i>
              <% end %></li>
            <li><%= link_to cost, confirm: 'Вы уверены?', method: :delete do %>
                  <i class="icon-trash"></i>
              <% end %></li>
        <% end %>
      </ul>
    </td>
    <td><%= cost.name %></td>
  </tr>
<% end %>
  </tbody>
</table>

<!-- Modal -->
<%= set_modal_window %>

