<h1>Типы расходов</h1>
<%if user_role != "visitor"%>
<%= link_to 'новый тип расходов', new_cost_path %> |
<%end%>
<%= link_to 'загрузить таблицу в XLS формате', costs_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>Название</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @costs.each do |cost| %>
  <tr>
    <td><%= cost.name %></td>
    <td><%= link_to 'см.', cost %></td>
    <%if user_role != "visitor"%>
    <td><%= link_to 'ред.', edit_cost_path(cost) %></td>
    <td><%= link_to 'уд.', cost, confirm: 'Вы уверены?', method: :delete %></td>
    <%end%>
  </tr>
<% end %>
  </tbody>
</table>

<br />

