<p>
  <b>Дата:</b>
  <%= @client.date %>
</p>

<p>
  <b>Статус:</b>
  <%= @client.status.try(:name) %>
</p>


<p>
  <b>Имя:</b>
  <%= @client.name %>
</p>
<p>
  <b>Фамилия:</b>
  <%= @client.try(:surname) %>
</p>

<p>
  <b>E-mail:</b>
  <%= @client.email %>
</p>

<p>
  <b>Телефон:</b>
  <%= @client.phone %>
</p>



<p>
  <b>ID-VK:</b>
  <%= @client.idvk %>
</p>

<p>
  <b>Школа:</b>
  <%= @client.school %>
</p>

<p>
  <b>Родитель:</b>
  <%= @client.parent %>
</p>

<p>
  <b>Телефон родителя:</b>
  <%= @client.parent_phone %>
</p>

<p>
  <b>Источник:</b>
  <%= @client.resource.try(:name) %>
</p>

<p>
  <b>Район:</b>
  <%= @client.channel.try(:name) %>
</p>

<p>
  <b>Менеджер:</b>
  <%= @client.manager.try(:name) %>
</p>

<p>
  <b>День:</b>
  <%= @client.day %>
</p>

<p>
  <b>Время:</b>
  <%= @client.time %>
</p>

<p>
  <b>Ожидаемое начало:</b>
  <%= @client.presumed_start %>
</p>

<p>
  <b>Курс:</b>
  <%= @client.course%>
</p>


<p>
  <b>Продолжительность:</b>
  <%= @client.period %>
</p>

<p>
  <b>Офис:</b>
  <%= @client.office.try(:name) %>
</p>

<p>
  <b>Комментарий:</b>
  <%= @client.comment %>
</p>
<p>
  <b>Создано:</b>
  <%= @client.created_at.strftime('%d/%m/%Y %H:%M:%S') %>
</p>
<p>
  <b>Создал:</b>
  <%= @client.try(:author) %>
</p>
<p>
  <b>Редактировано:</b>
  <%= @client.updated_at.strftime('%d/%m/%Y %H:%M:%S') %>
</p>
<p>
  <b>Редактировал:</b>
  <%= @client.try(:editor) %>
</p>