<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">статус</Data></Cell>
        <Cell><Data ss:Type="String">ресурс</Data></Cell>
        <Cell><Data ss:Type="String">фамилия</Data></Cell>
        <Cell><Data ss:Type="String">имя</Data></Cell>
        <Cell><Data ss:Type="String">отчевство</Data></Cell>
        <Cell><Data ss:Type="String">телефон</Data></Cell>
        <Cell><Data ss:Type="String">e-mail</Data></Cell>
        <Cell><Data ss:Type="String">vk</Data></Cell>
        <Cell><Data ss:Type="String">школа</Data></Cell>
        <Cell><Data ss:Type="String">родитель</Data></Cell>
        <Cell><Data ss:Type="String">телефон родителя</Data></Cell>
        <Cell><Data ss:Type="String">канал</Data></Cell>
        <Cell><Data ss:Type="String">менеджер</Data></Cell>
        <Cell><Data ss:Type="String">дни</Data></Cell>
        <Cell><Data ss:Type="String">время</Data></Cell>
        <Cell><Data ss:Type="String">период</Data></Cell>
        <Cell><Data ss:Type="String">офис</Data></Cell>
        <Cell><Data ss:Type="String">комментарий</Data></Cell>
        <Cell><Data ss:Type="String">создано</Data></Cell>
        <Cell><Data ss:Type="String">создал</Data></Cell>
        <Cell><Data ss:Type="String">отредактировано</Data></Cell>
        <Cell><Data ss:Type="String">редактировал</Data></Cell>
      </Row>
      <% @clients.each do |client| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= client.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.status.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.resource.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.try(:surname) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.try(:name) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.try(:middle_name) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.idvk %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.school %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.parent %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.parent_phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.channel.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.manager.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.day %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.time %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.period %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.office.try(:address)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.comment %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.created_at %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.author %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.updated_at %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.editor %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

