<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">статус</Data></Cell>
        <Cell><Data ss:Type="String">дата</Data></Cell>
        <Cell><Data ss:Type="String">источник</Data></Cell>
        <Cell><Data ss:Type="String">ФИО</Data></Cell>
        <Cell><Data ss:Type="String">телефон</Data></Cell>
        <Cell><Data ss:Type="String">школа</Data></Cell>
        <Cell><Data ss:Type="String">родитель</Data></Cell>
        <Cell><Data ss:Type="String">телефон родителя</Data></Cell>
        <Cell><Data ss:Type="String">район</Data></Cell>
        <Cell><Data ss:Type="String">менеджер</Data></Cell>
        <Cell><Data ss:Type="String">день</Data></Cell>
        <Cell><Data ss:Type="String">время</Data></Cell>
        <Cell><Data ss:Type="String">курс</Data></Cell>
        <Cell><Data ss:Type="String">продолжительность</Data></Cell>
        <Cell><Data ss:Type="String">ожидаемое начало</Data></Cell>
        <Cell><Data ss:Type="String">офис</Data></Cell>
        <Cell><Data ss:Type="String">комментарий</Data></Cell>
        <Cell><Data ss:Type="String">создано</Data></Cell>
        <Cell><Data ss:Type="String">создал</Data></Cell>
        <Cell><Data ss:Type="String">отредактировано</Data></Cell>
        <Cell><Data ss:Type="String">редактировал</Data></Cell>
      </Row>
      <% @clients.each do |client| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= client.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.status.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= formating_month(client.date)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.resource.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.try(:fio) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.school %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.parent %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.parent_phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.channel.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.manager.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.day %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.time %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.course %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.period %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.presumed_start%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.office.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.comment %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.created_at.strftime("#{formating_month(client.created_at)} %H:%M:%S") %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.author %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.updated_at.strftime("#{formating_month(client.updated_at)} %H:%M:%S") %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.editor %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

