<h1>Редактирование клиента</h1>

<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :status, :label => "статус" %>
  <%= f.association :resource, :label => "источник" %>
  <%= f.input :name, :label => "имя" %>
  <%= f.input :surname, :label => "фамилия" %>
  <%= f.input :email %>
  <%= f.input :login %>
  <%= f.input :phone, :label => "телефон", :input_html =>{:id => "phone"} %>
  <%= f.input :idvk, :label => "id-vk" %>
  <%= f.input :school, :label => "школа" %>
  <%= f.input :parent, :label => "родитель" %>
  <%= f.input :parent_phone, :label => "телефон родителя"%>
  <%= f.association :channel, :label => "канал" %>
  <%= f.association :manager, :label => "менеджер" %>
  <%= f.input :daysandtime, :label => "день и время" %>
  <%= f.input :period, :label => "период" %>
  <%= f.association :office, :label => "офис" %>
  <%= f.input :comment, :label => "комментария" %>
  <%= f.input :editor, :input_html => {:value => current_user.email}, :disabled => true %>
  <%= f.button :submit, :value => "сохранить" %>

<% end %>

<%= link_to 'показать', @client %> |
<%= link_to 'к списку', clients_path %>
