<div class='table-actions'>
  <h1 class='page-title'>Клиенты</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_client_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to clients_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @clients, :window => 2 %>
</div>
<table id="demotable" class="table table-striped tablesorter">
  <thead>
  <tr class="sort">
    <th class='record-manipulate'></th>
    <th>
      <div id="result" style="text-align: center; color: #000000;"></div>
      статус
    </th>
    <th>дата</th>
    <th>источник</th>
    <th>ФИО</th>
    <th>телефон</th>
    <!--<th>школа</th>-->
    <th>родитель</th>
    <th>телефон родителя</th>
    <th>район</th>
    <th>менеджер</th>
  </tr>
  </thead>
  <tbody id="clients_tabel">
  <% @clients.each do |client| %>
      <tr class="tr">
        <td class="manipulate-box">
          <ul>
            <li>
            <%= link_to url_for(id: client, anchor: 'myModal'), {:remote => true, 'data-toggle'=>"modal"} do%>
                <i class="icon-search"></i>
            <%end%>
            </li>
            <% if user_role != "visitor" %>
                <li><%= link_to edit_client_path(client) do %> <i class="icon-pencil"></i>
                  <% end %></li>
                <li><%= link_to client, confirm: 'Вы уверены?', method: :delete do %>
                      <i class="icon-trash"></i>
                  <% end %></li>
            <% end %>
          </ul>
        </td>
        <td><%= client.status.try(:name) %></td>
        <td><%= client.date %></td>
        <td><%= client.resource.try(:name) %></td>
        <td><%= client.fio %></td>
        <td><%= client.phone %></td>
        <!--<td class="sum"> < client.school %></td>-->
        <td><%= client.parent %></td>
        <td><%= client.parent_phone %></td>
        <td><%= client.channel.try(:name) %></td>
        <td><%= client.manager.try(:name) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="pagination-block">
  <%= paginate @clients, :window => 2 %>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"></h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Закрыть</button>
  </div>
</div>
<script>
    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function () {
        var res = 0;
        $('.tr').each(function () {
            if (getComputedStyle(this, null).display != "none") {
                res += 1;
            }
        });
        $('#result').text(res);

        $('input').keyup(function () {
            delay(function () {
                var res = 0;
                $('.tr').each(function () {
                    if (getComputedStyle(this, null).display != "none") {
                        res += 1;
                    }
                });
                $('#result').text(res);
            }, 350);
        });

    });

</script>

