<h1>Клиенты</h1>

<%= link_to 'New Client', new_client_path %>

<table  id="demotable">
   <thead>
      <tr>
        <th>Status</th>
        <th>Resource</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Idvk</th>
        <th>School</th>
        <th>Parent</th>
        <th>Parent phone</th>
        <th>Channel</th>
        <th>Manager</th>
        <th>Daysandtime</th>
        <th>Period</th>
        <th>Office</th>
        <th>Comment</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
   </thead>
   <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.status.try(:name) %></td>
            <td><%= client.resource.name %></td>
            <td><%= client.fio%></td>
            <td><%= client.phone %></td>
            <td><%= client.email %></td>
            <td><%= client.idvk %></td>
            <td><%= client.school %></td>
            <td><%= client.parent %></td>
            <td><%= client.parent_phone %></td>
            <td><%= client.channel.try(:name) %></td>
            <td><%= client.manager.name %></td>
            <td><%= client.daysandtime %></td>
            <td><%= client.period %></td>
            <td><%= client.office.name %></td>
            <td><%= client.comment %></td>
            <td><%= link_to 'Show', client %></td>
            <td><%= link_to 'Edit', edit_client_path(client) %></td>
            <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
   </tbody>
</table>

<br />

