<div class="form-wrap clearfix">
<h1>Новый клиент</h1>
  <hr>
<%= flash[:notice]%>
<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="left-side">
      <h3><i class="icon-user icon-large"></i> Информация о клиенте</h3>
    <%= f.association :status, :label => "статус" %>
    <%= f.input :date,:input_html => { :value => formating_month(Time.now)}, label: "дата" %>
    <%= f.input :surname, :label => "фамилия" %>
    <%= f.input :name, :label => "имя" %>
    <%= f.input :middle_name, :label => "отчество" %>
    <%= f.input :email, label: 'e-mail' %>
    <%= f.input :phone, :label => "телефон", :input_html =>{:id => "phone"} %>
    <%= f.input :idvk, :label => "id-vk" %>
    <%= f.input :school, :label => "школа" %>
    <%= f.input :parent, :label => "родитель" %>
    <%= f.input :parent_phone, :label => "телефон родителя"%>

      <h3><i class="icon-paste icon-large"></i> Общая информация</h3>
    <%= f.association :resource, :label => "источник" %>
    <%= f.association :channel, :label => "район" %>
    <%= f.association :manager, :label => "менеджер" %>
    <div>
      <%= f.input :presumed_start, label: "ожидаемое начало" %>
    </div>
    <%= f.input :course, collection: Course.all.map(&:name), as: :select, label: "курс"%>
    <div class="input">
      <%= f.label :period, "продолжительность" %>
      <%= f.select(:period, Period.all.collect {|p| p.period }, {:include_blank => true})  %>
    </div>
    <%= f.association :office, :label => "офис" %>
    <%= f.input :comment, :label => "комментарий", :input_html => { :cols => 50, :rows => 4 } %>
    <%= f.input :author,:as => :hidden, :input_html => {:value => current_user.email}, :disabled => true %>
    <div id="submit">
    <%= f.button :submit, :value => "сохранить"%>
      <div>
    <%= link_to 'к списку', clients_path, class: "btn"%>
      </div>
    </div>
    </div>
      <div class="right-side">
        <h3><i class="icon-calendar icon-large"></i> Расписание клиента</h3>
        <div id="date_time">
          <% %w{понедельник вторник среда четверг пятница суббота воскресение}.each do |i|%>
              <div>
                <%= label_tag i%>
                <%= check_box_tag "day[]", i %>
                <%= select_tag "hour[]", options_for_select(range_format((0..23))), :prompt => "часы"%>
                <%= select_tag  "minute[]", options_for_select(range_format((0..59))), :prompt => "минуты"%>
              </div>
          <% end%>
        </div>
      </div>
<% end %>
</div>

