

<p id="notice"><%= notice %></p>

<p>
<%= link_to 'редактировать', edit_client_path(@client) %> |
<%= link_to 'к списку', clients_path %>
</p>

<p>
  <b>дата:</b>
  <%= @client.date %>
</p>

<p>
  <b>статус:</b>
  <%= @client.status.try(:name) %>
</p>


<p>
  <b>имя:</b>
  <%= @client.name %>
</p>
<p>
  <b>фамилия:</b>
  <%= @client.try(:surname) %>
</p>

<p>
  <b>e-mail:</b>
  <%= @client.email %>
</p>

<p>
  <b>телефон:</b>
  <%= @client.phone %>
</p>



<p>
  <b>id-vk:</b>
  <%= @client.idvk %>
</p>

<p>
  <b>школа:</b>
  <%= @client.school %>
</p>

<p>
  <b>родитель:</b>
  <%= @client.parent %>
</p>

<p>
  <b>телефон родителя:</b>
  <%= @client.parent_phone %>
</p>

<p>
  <b>источник:</b>
  <%= @client.resource.try(:name) %>
</p>

<p>
  <b>район:</b>
  <%= @client.channel.try(:name) %>
</p>

<p>
  <b>менеджер:</b>
  <%= @client.manager.try(:name) %>
</p>

<p>
  <b>день:</b>
  <%= @client.day %>
</p>

<p>
  <b>время:</b>
  <%= @client.time %>
</p>

<p>
  <b>ожидаемое начало:</b>
  <%= @client.presumed_start %>
</p>

<p>
  <b>курс:</b>
  <%= @client.course%>
</p>


<p>
  <b>продолжительность:</b>
  <%= @client.period %>
</p>

<p>
  <b>офис:</b>
  <%= @client.office.try(:name) %>
</p>

<p>
  <b>комментарий:</b>
  <%= @client.comment %>
</p>
<p>
  <b>создано:</b>
  <%= @client.created_at.strftime('%d/%m/%Y %H:%M:%S') %>
</p>
<p>
  <b>создал:</b>
  <%= @client.try(:author) %>
</p>
<p>
  <b>редактировано:</b>
  <%= @client.updated_at.strftime('%d/%m/%Y %H:%M:%S') %>
</p>
<p>
  <b>редактировал:</b>
  <%= @client.try(:editor) %>
</p>



