<%= simple_form_for(@order, :html => { :class => 'form-horizontal' }) do |f| %>
    <%= f.input :date, label: "дата" %>
    <%= f.input :number, label: "номер договора" %>
    <div class="input">
    <%= label :client, "клиент"%>
    <%= text_field_tag :client, nil, data: {autocomplete_source: @client_collection.map(&:fio)}, :html => { :id => 'order_client_id' } %>
    </div>
    <%= f.input :contract, label: "дата заключения"%>
    <%= f.association :course, label: "курс" %>
    <%= f.association :teacher, label: "преподаватель" %>
    <%= f.association :schedule, label: "расписание" %>
    <%= f.association :office, label: "офис" %>
    <%= f.input :start, label: "начало"%>
    <%= f.input :end, label: "конец" %>
    <%= f.input :discount, label: "скидка" %>
    <%= f.input :price, label: "стоимость" %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', orders_path, class: "btn"%>
      </div>
    </div>

<% end %>
