<p>
  <b>Номер договора:</b>
  <%= @order.number %>
</p>

<p>
  <b>Клиент:</b>
  <%= @order.client.try(:fio)%>
</p>

<p>
  <b>Дата заключения:</b>
  <%= @order.contract %>
</p>

<p>
  <b>Курс:</b>
  <%= @order.course.try(:name)%>
</p>

<p>
  <b>Преподаватель:</b>
  <%= @order.teacher.try(:fio)%>
</p>

<p>
  <b>График:</b>
  <%= @order.schedule.try(:graphic)%>
</p>

<p>
  <b>Офис:</b>
  <%= @order.office.try(:name)%>
</p>

<p>
  <b>Часы:</b>
  <%= @order.schedule.try(:hours) %>
</p>

<p>
  <b>Начало:</b>
  <%= @order.schedule.try(:start)%>
</p>


<p>
  <b>Конец:</b>
  <%= @order.schedule.try(:end)%>
</p>

<p>
  <b>Скидка:</b>
  <%= @order.discount %>
</p>

<p>
  <b>Стоимость:</b>
  <%= @order.price %>
</p>