<%= simple_form_for(@order, :html => { :class => 'form-horizontal' }) do |f| %>

    <%= f.input :number, label: "Номер договора" %>
    <div class="input">
    <%= f.label :client, "Клиент"%>
    <%= text_field_tag :client,  @order.client.try(:fio) %>
    </div>
    <div class="input">
    <%= f.label :contract, "Дата заключения"%>
    <%= f.text_field :contract%>
    </div>
    <%= f.association :course, label: "Курс" %>
    <%= f.association :teacher, label: "Учитель" %>
    <%= f.association :schedule, label: "Расписание" %>
    <%= f.association :office, label: "Офис" %>
    <div class="input">
      <%= f.label :start, "Начало"%>
      <%= f.text_field :start%>
    </div>
    <div class="input">
      <%= f.label :end, "Конец"%>
      <%= f.text_field :end%>
    </div>
    <%= f.input :discount, label: "Скидка" %>
    <%= f.input :price, label: "Стоимость" %>
    <%= f.button :submit,"Отправить" %>

<% end %>
