<%= simple_form_for(@order, :html => { :class => 'form-horizontal' }) do |f| %>

    <%= f.input :number, label: "номер договора" %>
    <div class="input">
    <%= f.label :client, "клиент"%>
    <%= text_field_tag :client,  @order.client.try(:fio) %>
    </div>
    <div class="input">
    <%= f.label :contract, "дата заключения"%>
    <%= f.text_field :contract%>
    </div>
    <%= f.association :course, label: "курс" %>
    <%= f.association :teacher, label: "учитель" %>
    <%= f.association :schedule, label: "расписание" %>
    <%= f.association :office, label: "офис" %>
    <div class="input">
      <%= f.label :start, "начало"%>
      <%= f.text_field :start%>
    </div>
    <div class="input">
      <%= f.label :end, "конец"%>
      <%= f.text_field :end%>
    </div>
    <%= f.input :discount, label: "скидка" %>
    <%= f.input :price, label: "стоимость" %>
    <%= f.button :submit,"отправить" %>

<% end %>
