<h1>редактирование заказа</h1>

<%= simple_form_for(@order, :html => { :class => 'form-horizontal' }) do |f| %>


    <%= f.input :date, label: "дата" %>
    <%= f.input :number, label: "номер договора" %>
    <div class="input">
      <label for="client" class="select required control-label"><abbr title="required">*</abbr> клиент</label>
      <%= text_field_tag :client, @client, data: {autocomplete_source: @client_collection.map(&:fi_and_phone)}, :html => { :id => 'order_client_id' } %>
    </div>
    <div class="input">
      <label for="contract" class="select required control-label"><abbr title="required">*</abbr>дата заключения</label>
      <%= f.text_field :contract%>
    </div>
    <%= f.association :course, label: "курс", :input_html => {onchange: "$.post('search_options',  {course_id: $(this).val()}, {}, 'script' );"}%>

        <div id="select_list">
          <%if @t_select_list.present?%>
              <%= f.association :teacher, collection: @t_select_list, label: "преподаватель", :include_blank => false%>
          <%end%>
          <%if @s_select_list.present?%>
              <%= f.association :schedule, collection: @s_select_list.map(&:graphic), label: "график", :include_blank => false%>
          <%end%>
          <%if @f_select_list.present?%>
              <%= f.association :office, collection: @f_select_list, label: "офис", :include_blank => false%>
          <%end%>
        </div>

    <div class="input">
      <%= f.label :start, "начлао"%>
      <%= f.text_field :start%>
    </div>

    <div class="input">
      <%= f.label :end, "конец"%>
      <%= f.text_field :end%>
    </div>

    <%= f.input :discount, label: "скидка" %>

    <%= f.input :price, label: "стоимость" %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', orders_path, class: "btn"%>
      </div>
    </div>

<% end %>


