<h1>Договоры</h1>

<%= link_to 'новый договор', new_order_path %> | <%= link_to 'загрузить таблицу в XLS формате', orders_to_xls_path + ".xls" %> | сортировать по:  <%= render 'sort_by'%>

<table id="demotable" class="table table-striped tablesorter">
  <thead>
  <tr class="sort">
    <th> <div id="count" style="text-align: center; color: #000000;"></div> номер</th>
    <th>клиент</th>
    <th>дата</th>
    <th>дата заключения</th>
    <th>курс</th>
    <th>преподаватель</th>
    <th>расписание</th>
    <th>офис</th>
    <th>начало</th>
    <th>конец</th>
    <th>скидка</th>
    <th> <div id="result" style="text-align: center; color: #000000;"></div> стоимость </th>
    <th>создано</th>
    <th>создал</th>
    <th>отредактировано</th>
    <th>редактировал</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr class=<%= "tr" if order.price.present?%>>
        <td><%= order.number %></td>
        <td><%= order.client.fio %></td>
        <td><%= order.date%></td>
        <td><%= order.contract %></td>
        <td><%= order.course.name if order.course_id.present? %></td>
        <td><%= order.teacher.name if order.teacher_id.present? %></td>
        <td><%= order.schedule.name if order.schedule_id.present?%></td>
        <td><%= order.office.name if order.office_id.present?%></td>
        <td><%= order.start %></td>
        <td><%= order.end %></td>
        <td><%= order.discount %></td>
        <td class="sum"><%= order.price %></td>
        <td><%= order.created_at %></td>
        <td><%= order.author %></td>
        <td><%= order.updated_at %></td>
        <td><%= order.editor %></td>
        <td><%= button_to 'оплата по договору', payment_to_order_path(id: order.id) %></td>
        <td><%= link_to 'см.', order %></td>
        <td><%= link_to 'ред.', edit_order_path(order) %></td>
        <td><%= link_to 'уд.', order, confirm: 'уверены?', method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />

<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        var count =0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += parseFloat($(this).find(".sum").html());
            }
        });
        $('tbody tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                count+=1;
            }
        });
        $('#result').text(res);
        $('#count').text(count);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                var count =0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += parseFloat($(this).find(".sum").html());
                    }
                });
                $('tbody tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        count+=1;
                    }
                });
                $('#result').text(res);
                $('#count').text(count);
            }, 350 );
        });


    });

</script>
