<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">номер</Data></Cell>
        <Cell><Data ss:Type="String">клиент</Data></Cell>
        <Cell><Data ss:Type="String">дата заключения</Data></Cell>
        <Cell><Data ss:Type="String">курс</Data></Cell>
        <Cell><Data ss:Type="String">преподаватель</Data></Cell>
        <Cell><Data ss:Type="String">график</Data></Cell>
        <Cell><Data ss:Type="String">офис</Data></Cell>
        <Cell><Data ss:Type="String">часы</Data></Cell>
        <Cell><Data ss:Type="String">начало</Data></Cell>
        <Cell><Data ss:Type="String">конец</Data></Cell>
        <Cell><Data ss:Type="String">скидка</Data></Cell>
        <Cell><Data ss:Type="String">стоимость</Data></Cell>
        <Cell><Data ss:Type="String">создано</Data></Cell>
        <Cell><Data ss:Type="String">создал</Data></Cell>
        <Cell><Data ss:Type="String">отредактировано</Data></Cell>
        <Cell><Data ss:Type="String">редактировал</Data></Cell>
      </Row>
      <% @orders.each do |order| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= order.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.number %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.client.try(:fio)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= formating_month(order.contract) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.course.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.teacher.try(:fio)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.schedule.try(:graphic)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.office.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="Number"><%= order.schedule.try(:hours)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= formating_month(order.start) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= formating_month(order.end) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.discount%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.price%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.created_at.strftime("#{formating_month(order.created_at)} %H:%M:%S")%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.author%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.updated_at.strftime("#{formating_month(order.updated_at)} %H:%M:%S")%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.editor%></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

