

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">клиент</Data></Cell>
        <Cell><Data ss:Type="String">контракт</Data></Cell>
        <Cell><Data ss:Type="String">курс</Data></Cell>
        <Cell><Data ss:Type="String">преподаватель</Data></Cell>
        <Cell><Data ss:Type="String">график</Data></Cell>
        <Cell><Data ss:Type="String">офис</Data></Cell>
        <Cell><Data ss:Type="String">начало занятий</Data></Cell>
        <Cell><Data ss:Type="String">number?</Data></Cell>
        <Cell><Data ss:Type="String">конец занятий</Data></Cell>
        <Cell><Data ss:Type="String">скидка</Data></Cell>
        <Cell><Data ss:Type="String">цена</Data></Cell>
      </Row>
      <% @orders.each do |order| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= order.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.client.name if order.client_id.present?%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.contract %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.course.name if order.course_id.present? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.teacher.name if order.teacher_id.present? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.schedule.day if order.schedule_id.present? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.office.address if order.office_id.present? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.start %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.number %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.end %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.discount%></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.price%></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

