<%= simple_form_for(@salary, :html => { :class => 'form-horizontal', id: 'new_salary' }) do |g|%>
    <div>
    <%= g.label :date, "дата" %>
    <%= g.datetime_select :date %>
    </div>

    <div>
    <%= g.label :summ, "сумма" %>
    <%= g.text_field :summ %>
    </div>

    <div>
    <%= g.label :teacher_id, "преподаватель"%>
    <%= g.collection_select :teacher_id, Teacher.order(:name), :id, :name, {include_blank: true}%>
    </div>

    <div>
      <%= g.label :course_id, "курс"%>
      <%= g.grouped_collection_select :course_id, Teacher.order(:name), :courses, :name, :id, :name, :include_blank => true %>
    </div>

    <div>
      <%= g.label :schedule_id, "график"%>
      <%= g.grouped_collection_select :schedule_id, Course.order(:id), :schedules, :name, :id, :graphic, :include_blank => true%>
    </div>

    <div>
    <%= g.label :start, "начало"%>
    <%= g.date_select :start %>
    </div>

    <div>
    <%= g.label :end, "конец" %>
    <%= g.date_select :end %>
    </div>

    <div>
      <%= g.label :pay_from, "с"%>
      <%= g.text_field :pay_from%>
    </div>
    <div>
      <%= g.label :pay_to, "по"%>
      <%= g.text_field :pay_to%>
    </div>


    <div id="fix-outlays" class="input">
      <%= g.label :type, "форма оплаты"%>
      <%= g.input :type, :collection => ["Наличные", "По безналу"], :as => :radio_buttons, label: false %>
    </div>


    <div>
    <%= g.label :comment, "комментарий"%>
    <%= g.text_area :comment, size: "50x4"%>
    </div>

    <div id="submit">
      <%= g.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', salaries_path, class: "btn"%>
      </div>
    </div>

<%end%>
