<%= simple_form_for(@salary, :html => { :class => 'form-horizontal', id: 'new_salary' }) do |g|%>
    <div>
      <label for="date" class="select required control-label"><abbr title="required">*</abbr> дата</label>
    <%= g.text_field :date %>
    </div>

    <div>
      <label for="summ" class="select required control-label"><abbr title="required">*</abbr> сумма</label>
    <%= g.text_field :summ %>
    </div>

    <div>
      <%if action_name == "new"%>
    <label for="teacher" class="select required control-label"><abbr title="required">*</abbr> преподаватель</label>
    <%= g.collection_select(:teacher_id, Teacher.order(:name), :id, :fio, {include_blank: true}, {onchange: "$.post('new', {teacher_id: $(this).val()}, {}, 'script' );" })%>
      <%else%>
    <%= g.association :teacher, collection: @teacher, label: "преподаватель", include_blank: false%>
      <%end%>
    </div>

    <div id="course_and_schedule">
     <%if action_name == "new"%>
      <div id="course">
      </div>
     <%else%>
          <div class="input">
            <label for="course_id" class="select required control-label"><abbr title="required">*</abbr>курс</label>
            <%= collection_select(:course_id , nil, @res, :id, :name, {include_blank:true}, {onchange: "$.post('schedules',  {teacher_id: #{params[:teacher_id]}, course_id: $(this).val()}, {}, 'script' );" }) %>
          </div>
      <%end%>

      <div id="schedule">

      </div>

    </div>


    <div>
    <label for="start" class="select required control-label"><abbr title="required">*</abbr> начало</label>
    <%= g.text_field :start %>
    </div>

    <div>
    <label for="end" class="select required control-label"><abbr title="required">*</abbr> конец</label>
    <%= g.text_field :end %>
    </div>


    <div id="fix-outlays" class="input">
      <label for="type" class="select required control-label"><abbr title="required">*</abbr> форма оплаты</label>
      <%= g.input :type, :collection => ["Наличные", "По безналу"], :as => :radio_buttons, label: false %>
    </div>


    <div>
    <%= g.label :comment, "комментарий"%>
    <%= g.text_area :comment, size: "50x4"%>
    </div>

    <div id="submit">
      <%= g.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', salaries_path, class: "btn"%>
      </div>
    </div>

<%end%>
