<p>
  <b>Дата:</b>
  <%= @salary.date %>
</p>

<p>
  <b>Сумма:</b>
  <%= @salary.summ %>
</p>

<p>
  <b>Преподаватель:</b>
  <%= @salary.teacher.try(:fio) %>
</p>

<p>
  <b>Курс:</b>
  <%= @salary.course.name %>
</p>
<p>
  <b>График:</b>
  <%= @salary.schedule.try(:graphic) %>
</p>

<p>
  <b>Кол. часов:</b>
  <%= @salary.hours %>
</p>


<p>
  <b>Форма выплаты:</b>
  <%= @salary.type %>
</p>

<p>
  <b>Комментарий:</b>
  <%= @salary.comment %>
</p>
