<h1>Выплаты преподавателям</h1>

<%= link_to 'новая выплата', new_salary_path %>
<table class="table table-striped">
  <tr>
    <th>дата</th>
    <th>сумма</th>
    <th>курс</th>
    <th>преподаватель</th>
    <th>месяц</th>
    <th>форма выплаты</th>
    <th>комментарий</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salaries.each do |salary| %>
  <tr>
    <td><%= salary.date %></td>
    <td><%= salary.summ %></td>
    <td><%= salary.course.name %></td>
    <td><%= salary.teacher.name %></td>
    <td><%= salary.month %></td>
    <td><%= salary.type %></td>
    <td><%= salary.comment %></td>
    <td><%= link_to 'см.', salary %></td>
    <td><%= link_to 'ред.', edit_salary_path(salary) %></td>
    <td><%= link_to 'уд.', salary, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
