<h1>Выплаты преподавателям</h1>
<%if user_role != "visitor"%>
<%= link_to 'новая выплата', new_salary_path %> |
    <%end%>
    <%= link_to 'загрузить таблицу в XLS формате', salaries_to_xls_path + ".xls" %>  | сортировать по:  <%= render 'sort_by'%>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th> <div id="count" style="text-align: center; color: #000000;"></div> дата</th>
    <th> <div id="result" style="text-align: center; color: #000000;"></div> сумма</th>
    <th>курс</th>
    <th>преподаватель</th>
    <th>график</th>
    <th>начало</th>
    <th>конец</th>
    <th>форма выплаты</th>
    <th>комментарий</th>
    <th>создано</th>
    <th>отредактировано</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @salaries.each do |salary| %>
  <tr class=<%= "tr" if salary.summ.present?%>>
    <td><%= salary.date.strftime('%d-%m-%Y') if salary.date %></td>
    <td class="sum"><%= salary.summ %></td>
    <td><%= salary.course.try(:name) %></td>
    <td><%= salary.teacher.try(:name) %></td>
    <td><%= "#{salary.schedule.try(:day)} / #{salary.schedule.try(:time)}" if salary.schedule_id.present?%> </td>
    <td><%= salary.try(:start) %></td>
    <td><%= salary.try(:end) %></td>
    <td><%= salary.type %></td>
    <td><%= salary.comment %></td>
    <td><%= salary.created_at.strftime('%d-%m-%Y %H:%M:%S') %></td>
    <td><%= salary.updated_at.strftime('%d-%m-%Y %H:%M:%S') %></td>
    <td><%= link_to 'см.', salary %></td>
    <%if user_role != "visitor"%>
    <td><%= link_to 'ред.', edit_salary_path(salary) %></td>
    <td><%= link_to 'уд.', salary, confirm: 'Вы уверены?', method: :delete %></td>
        <%end%>
  </tr>
<% end %>
</tbody>
</table>


<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        var count =0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += parseFloat($(this).find(".sum").html());
            }
        });
        $('tbody tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                count+=1;
            }
        });
        $('#result').text(res);
        $('#count').text(count);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                var count =0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += parseFloat($(this).find(".sum").html());
                    }
                });
                $('tbody tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        count+=1;
                    }
                });
                $('#result').text(res);
                $('#count').text(count);
            }, 350 );
        });


    });

</script>