<h1>Выплаты преподавателям</h1>

<%= link_to 'новая выплата', new_salary_path %> | <%= link_to 'загрузить таблицу в XLS формате', salaries_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>дата</th>
    <th>сумма</th>
    <th>курс</th>
    <th>преподаватель</th>
    <th>начало</th>
    <th>конец</th>
    <th>форма выплаты</th>
    <th>комментарий</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @salaries.each do |salary| %>
  <tr>
    <td><%= salary.date %></td>
    <td><%= salary.summ %></td>
    <td><%= salary.course.name %></td>
    <td><%= salary.teacher.name %></td>
    <td><%= salary.try(:start) %></td>
    <td><%= salary.try(:end) %></td>
    <td><%= salary.type %></td>
    <td><%= salary.comment %></td>
    <td><%= link_to 'см.', salary %></td>
    <td><%= link_to 'ред.', edit_salary_path(salary) %></td>
    <td><%= link_to 'уд.', salary, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
