<div class='table-actions'>
  <h1 class='page-title'>Выплаты преподавателям</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_salary_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to salaries_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @salaries, :window => 2 %>
</div>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th class="record-manipulate"></th>
    <th> <div id="count" style="text-align: center; color: #000000;"></div> дата</th>
    <th> <div id="result" style="text-align: center; color: #000000;"></div> сумма</th>
    <th>курс</th>
    <th>преподаватель</th>
    <th>график</th>
    <th>кол. часов</th>
    <th>форма выплаты</th>
    <th>комментарий</th>
    <th>создано</th>
    <th>отредактировано</th>
  </tr>
  </thead>
  <tbody>
<% @salaries.each do |salary| %>
  <tr class=<%= "tr" if salary.summ.present?%>>
    <td class="manipulate-box">
      <ul>
        <li><%= link_to url_for(id: salary, anchor: 'myModal'), {:remote => true, 'data-toggle'=>"modal"} do%> <i class="icon-search"></i>
          <% end %></li>
        <% if user_role != "visitor" %>
            <li><%= link_to edit_salary_path(salary) do %> <i class="icon-pencil"></i>
              <% end %></li>
            <li><%= link_to salary, confirm: 'Вы уверены?', method: :delete do %>
                  <i class="icon-trash"></i>
              <% end %></li>
        <% end %>
      </ul>
    </td>
    <td><%=salary.date%></td>
    <td class="sum"><%= salary.summ %></td>
    <td><%= salary.course.try(:name) %></td>
    <td><%= salary.teacher.try(:fio) %></td>
    <td><%= "#{salary.schedule.try(:day)} / #{salary.schedule.try(:time)}" if salary.schedule_id.present?%> </td>
    <td><%= salary.hours %></td>
    <td><%= salary.type %></td>
    <td><%= salary.comment %></td>
    <td><%= salary.created_at.strftime("#{formating_month(salary.created_at)} %H:%M:%S") %></td>
    <td><%= salary.updated_at.strftime("#{formating_month(salary.updated_at)} %H:%M:%S") %></td>
  </tr>
<% end %>
</tbody>
</table>

<div class="pagination-block">
  <%= paginate @salaries, :window => 2 %>
</div>

<!-- Modal -->
<%= set_modal_window %>
<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        var count =0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += parseFloat($(this).find(".sum").html());
            }
        });
        $('tbody tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                count+=1;
            }
        });
        $('#result').text(res);
        $('#count').text(count);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                var count =0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += parseFloat($(this).find(".sum").html());
                    }
                });
                $('tbody tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        count+=1;
                    }
                });
                $('#result').text(res);
                $('#count').text(count);
            }, 350 );
        });


    });

</script>