<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">дата</Data></Cell>
        <Cell><Data ss:Type="String">сумма</Data></Cell>
        <Cell><Data ss:Type="String">курс</Data></Cell>
        <Cell><Data ss:Type="String">преподаватель</Data></Cell>
        <Cell><Data ss:Type="String">график</Data></Cell>
        <Cell><Data ss:Type="String">часы</Data></Cell>
        <Cell><Data ss:Type="String">форма выплаты</Data></Cell>
        <Cell><Data ss:Type="String">комментарий</Data></Cell>
        <Cell><Data ss:Type="String">создано</Data></Cell>
        <Cell><Data ss:Type="String">отредактировано</Data></Cell>

      </Row>
      <% @salaries.each do |salaries| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= salaries.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%=formating_month(salaries.date)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= salaries.summ %></Data></Cell>
            <Cell><Data ss:Type="String"><%= salaries.course.try(:name)%></Data></Cell>
            <Cell><Data ss:Type="String"><%= salaries.teacher.try(:fio) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= salaries.schedule.try(:graphic) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= salaries.schedule.try(:hours) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= salaries.type %></Data></Cell>
            <Cell><Data ss:Type="String"><%= salaries.comment %></Data></Cell>
            <Cell><Data ss:Type="String"><%= salaries.created_at.strftime("#{formating_month(salaries.created_at)} %H:%M:%S") %></Data></Cell>
            <Cell><Data ss:Type="String"><%= salaries.updated_at.strftime("#{formating_month(salaries.created_at)} %H:%M:%S")%></Data></Cell>

          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

