<p id="notice"><%= notice %></p>

<%= link_to 'редактировать', edit_salary_path(@salary) %> |
<%= link_to 'к списку', salaries_path %>


<p>
  <b>дата:</b>
  <%= @salary.date %>
</p>

<p>
  <b>сумма:</b>
  <%= @salary.summ %>
</p>

<p>
  <b>преподаватель:</b>
  <%= @salary.teacher.try(:fio) %>
</p>

<p>
  <b>курс:</b>
  <%= @salary.course.name %>
</p>
<p>
  <b>график:</b>
  <%= @salary.schedule.graphic %>
</p>

<p>
  <b>начало:</b>
  <%= @salary.start %>
</p>
<p>
  <b>конец:</b>
  <%= @salary.end %>
</p>


<p>
  <b>форма выплаты:</b>
  <%= @salary.type %>
</p>

<p>
  <b>комментарий:</b>
  <%= @salary.comment %>
</p>



