<p>
  <b>Дата:</b>
  <%= @outlay.date %>
</p>

<p>
  <b>Сумма:</b>
  <%= @outlay.summ %>
</p>

<p>
  <b>Тип расходов:</b>
  <%= @outlay.cost.try(:name) %>
</p>


<p>
  <b>Объект расходов:</b>
  <%= @outlay.objects_of_expenditure.try(:name) %>
</p>



<p>
  <b>Автор:</b>
  <%= @outlay.person %>
</p>



<p>
  <b>Форма вылпаты:</b>
  <%= @outlay.type %>
</p>

<p>
  <b>Автор:</b>
  <%= @outlay.person %>
</p>

<p>
  <b>Комментарий:</b>
  <%= @outlay.comment %>
</p>
