<h1>Расходы</h1>

<%= link_to 'новая выплата', new_outlay_path %>
<table class="table table-striped">
  <tr>
    <th>дата</th>
    <th>сумма</th>
    <th>имя</th>
    <th>типа расходов</th>
    <th>форма оплаты</th>
    <th>автор</th>
    <th>комментарий</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outlays.each do |outlay| %>
  <tr>
    <td><%= outlay.date %></td>
    <td><%= outlay.summ %></td>
    <td><%= outlay.name %></td>
    <td><%= outlay.cost.name %></td>
    <td><%= outlay.type %></td>
    <td><%= outlay.person %></td>
    <td><%= outlay.comment %></td>
    <td><%= link_to 'см.', outlay %></td>
    <td><%= link_to 'ред.', edit_outlay_path(outlay) %></td>
    <td><%= link_to 'уд.', outlay, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
