<h1>Расходы</h1>

<%= link_to 'новая выплата', new_outlay_path %> | <%= link_to 'загрузить таблицу в XLS формате', outlays_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>дата</th>
    <th> <div id="result" style="text-align: center; color: #000000;"></div> сумма</th>
    <th>имя</th>
    <th>типа расходов</th>
    <th>форма оплаты</th>
    <th>автор</th>
    <th>комментарий</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @outlays.each do |outlay| %>
  <tr class=<%= "tr" if outlay.summ.present?%>>
    <td><%= outlay.date %></td>
    <td class="sum"><%= outlay.summ %></td>
    <td><%= outlay.name %></td>
    <td><%= outlay.cost.name %></td>
    <td><%= outlay.type %></td>
    <td><%= outlay.person %></td>
    <td><%= outlay.comment %></td>
    <td><%= link_to 'см.', outlay %></td>
    <td><%= link_to 'ред.', edit_outlay_path(outlay) %></td>
    <td><%= link_to 'уд.', outlay, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<tbody>
</table>

<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += parseFloat($(this).find(".sum").html());
            }
        });
        $('#result').text(res);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += parseFloat($(this).find(".sum").html());
                    }
                });
                $('#result').text(res);
            }, 350 );
        });

    });

</script>
