<div class='table-actions'>
  <h1 class='page-title'>Расходы</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_outlay_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to outlays_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @outlays, :window => 2 %>
</div>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th class='record-manipulate'></th>
    <th>дата</th>
    <th> <div id="result" style="text-align: center; color: #000000;"></div> сумма</th>
    <th>типа расходов</th>
    <th>объект расходов</th>
    <th>форма оплаты</th>
    <th>автор</th>
    <th>комментарий</th>
    <th>создано</th>
    <th>отредактировано</th>
  </tr>
  </thead>
  <tbody>
<% @outlays.each do |outlay| %>
  <tr class=<%= "tr" if outlay.summ.present?%>>
    <td class="manipulate-box">
      <ul>
        <li>
          <%= link_to url_for(id: outlay, anchor: 'myModal'), {:remote => true, 'data-toggle'=>"modal"} do%>
              <i class="icon-search"></i>
          <% end %>
        </li>
        <% if user_role != "visitor" %>
            <li><%= link_to edit_outlay_path(outlay) do %> <i class="icon-pencil"></i>
              <% end %></li>
            <li><%= link_to outlay, confirm: 'Вы уверены?', method: :delete do %>
                  <i class="icon-trash"></i>
              <% end %></li>
        <% end %>
      </ul>
    </td>
    <td><%=outlay.date %></td>
    <td class="sum"><%= outlay.summ %></td>
    <td><%= outlay.cost.try(:name)%></td>
    <td><%=outlay.objects_of_expenditure.try(:name)%></td>
    <td><%= outlay.type %></td>
    <td><%= outlay.person %></td>
    <td><%= outlay.comment %></td>
    <td><%= outlay.created_at.strftime("#{formating_month(outlay.created_at)} %H:%M:%S") %></td>
    <td><%= outlay.updated_at.strftime("#{formating_month(outlay.updated_at)} %H:%M:%S") %></td>
  </tr>
<% end %>
<tbody>
</table>
<div class="pagination-block">
  <%= paginate @outlays, :window => 2 %>
</div>

<!-- Modal -->
<%= set_modal_window %>

<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += parseFloat($(this).find(".sum").html());
            }
        });
        $('#result').text(res);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += parseFloat($(this).find(".sum").html());
                    }
                });
                $('#result').text(res);
            }, 350 );
        });

    });

</script>
