<p id="notice"><%= notice %></p>

<%= link_to 'редактировать', edit_outlay_path(@outlay) %> |
<%= link_to 'к списку', outlays_path %>

<p>
  <b>дата:</b>
  <%= @outlay.date %>
</p>

<p>
  <b>сумма:</b>
  <%= @outlay.summ %>
</p>

<p>
  <b>тип расходов:</b>
  <%= @outlay.cost.name %>
</p>


<p>
  <b>объект расходов:</b>
  <%= @outlay.objects_of_expenditure.try(:name) %>
</p>



<p>
  <b>автор:</b>
  <%= @outlay.person %>
</p>



<p>
  <b>форма вылпаты:</b>
  <%= @outlay.type %>
</p>

<p>
  <b>автор:</b>
  <%= @outlay.person %>
</p>

<p>
  <b>комментарий:</b>
  <%= @outlay.comment %>
</p>



