<%= simple_form_for(@teacher) do |f| %>

  <%= f.input :surname, label: "фамилия" %>
  <%= f.input :name, label: "имя" %>
  <%= f.input :phone, label: "телефон" %>
  <%= f.input :email %>
  <%= f.input :idvk, :label => "id-vk" %>
  <%= f.input :workplace, label: "рабочее место" %>
  <%= f.input :comment, label: "комментарий" %>
  <%= f.association :courses, label: "курс" %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', teachers_path, class: "btn"%>
      </div>
    </div>
<% end %>
