<div class="form-wrap clearfix">
  <h1><%= action_name == 'edit' ? 'Редактирование преподавателя' : 'Новый преподаватель'%></h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@teacher) do |f| %>

  <%= f.input :surname, label: "фамилия" %>
  <%= f.input :name, label: "имя" %>
  <%= f.input :phone, label: "телефон" %>
  <%= f.input :email %>
  <%= f.input :idvk, :label => "id-vk" %>
  <%= f.input :workplace, label: "рабочее место" %>
  <%= f.input :comment, label: "комментарий", :input_html => { :cols => 50, :rows => 4 }  %>
  <%= f.association :courses, label: "курс" %>
    <%= f.input :salary, label: "оклад" %>
    <%= f.input :percent, label: "процент" %>
    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', teachers_path, class: "btn"%>
      </div>
    </div>
<% end %>
</div>