<div class="form-wrap clearfix">
  <h1><%= action_name == 'edit' ? 'Редактирование преподавателя' : 'Новый преподаватель'%></h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@teacher) do |f| %>

  <%= f.input :surname, label: "Фамилия" %>
  <%= f.input :name, label: "Имя" %>
  <%= f.input :phone, label: "Телефон" %>
  <%= f.input :email %>
  <%= f.input :idvk, :label => "ID-VK" %>
  <%= f.input :workplace, label: "Рабочее место" %>
  <%= f.input :comment, label: "Комментарий", :input_html => { :cols => 50, :rows => 4 }  %>
  <%= f.association :courses, label: "Курс" %>
    <%= f.input :salary, label: "Оклад" %>
    <%= f.input :percent, label: "Процент" %>
    <div id="submit">
      <%= f.button :submit, :value => "Сохранить"%>
      <div>
        <%= link_to 'К списку', teachers_path, class: "btn"%>
      </div>
    </div>
<% end %>
</div>