<p>
  <b>Фамилия:</b>
  <%= @teacher.surname %>
</p>
<p>
  <b>Имя:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Телефон:</b>
  <%= @teacher.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>

<p>
  <b>ID-VK:</b>
  <%= @teacher.idvk %>
</p>

<p>
  <b>Рабочее место:</b>
  <%= @teacher.workplace %>
</p>

<p>
  <b>Коммент:</b>
  <%= @teacher.comment %>
</p>

<p>
  <b>Курсы:</b>
  <% @teacher.courses.each do |x| %>
      <%=  x.name + ", " %>
  <% end %>
</p>

<p>
  <b>Оклад:</b>
  <%= @teacher.salary %>
</p>

<p>
  <b>Оклад:</b>
  <%= @teacher.percent %>
</p>