<h1>Преподаватели</h1>

<%= link_to 'Новый преподаватель', new_teacher_path %>
<table id="demotable" class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable("name", "имя") %></th>
      <th><%= sortable("phone", "телефон") %></th>
      <th><%= sortable("email", "Email") %></th>
      <th><%= sortable("idvk", "Id-vk") %></th>
      <th><%= sortable("workplace", "рабочее место") %></th>
      <th><%= sortable("comment", "комментарий") %></th>
      <th>курсы</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.fio %></td>
        <td><%= teacher.phone %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.idvk %></td>
        <td><%= teacher.workplace %></td>
        <td><%= teacher.comment %></td>
        <td>
          <% teacher.courses.each do |x| %>
            <%=  x.name + ", " %>
          <% end %>
        </td>
        <td><%= link_to 'см.', teacher %></td>
        <td><%= link_to 'ред.', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'уд.', teacher, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
