<div class='table-actions'>
  <h1 class='page-title'>Преподаватели</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_teacher_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to teachers_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @teachers, :window => 2 %>
</div>

<table id="demotable" class="table table-striped">
  <thead>
    <tr class="sort">
      <th class='record-manipulate'></th>
      <th><div id="result" style="text-align: center; color: #000000;"></div>ФИО</th>
      <th>Телефон</th>
      <th>Курсы</th>
      <th>Email</th>
      <th>ID-VK</th>
      <th>Рабочее место</th>
      <th>Комментарий</th>
      <th>Оклад</th>
      <th>Процент</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr class="tr">
        <td class="manipulate-box">
          <ul>
            <li><%= link_to url_for(id: teacher, anchor: 'myModal'), {:remote => true, 'data-toggle'=>"modal"} do%> <i class="icon-search"></i>
              <% end %></li>
            <% if user_role != "visitor" %>
                <li><%= link_to edit_teacher_path(teacher) do %> <i class="icon-pencil"></i>
                  <% end %></li>
                <li><%= link_to teacher, confirm: 'Вы уверены?', method: :delete do %>
                      <i class="icon-trash"></i>
                  <% end %></li>
            <% end %>
          </ul>
        </td>
        <td><%= teacher.fio %></td>
        <td><%= teacher.phone %></td>
        <td>
          <% teacher.courses.each do |x| %>
              <%=  x.name + ", " %>
          <% end %>
        </td>
        <td><%= teacher.email %></td>
        <td><%= teacher.idvk %></td>
        <td><%= teacher.workplace %></td>
        <td><%= teacher.comment %></td>
        <td><%= teacher.salary %></td>
        <td><%= teacher.percent %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Modal -->
<%= set_modal_window %>
<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += 1;
            }
        });
        $('#result').text(res);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += 1;
                    }
                });
                $('#result').text(res);
            }, 350 );
        });

    });

</script>
