

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">имя</Data></Cell>
        <Cell><Data ss:Type="String">телефон</Data></Cell>
        <Cell><Data ss:Type="String">email</Data></Cell>
        <Cell><Data ss:Type="String">vk(id)</Data></Cell>
        <Cell><Data ss:Type="String">место работы</Data></Cell>
        <Cell><Data ss:Type="String">коментарий</Data></Cell>
      </Row>
      <% @teachers.each do |teacher| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= teacher.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= teacher.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= teacher.phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= teacher.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= teacher.idvk %></Data></Cell>
            <Cell><Data ss:Type="String"><%= teacher.workplace %></Data></Cell>
            <Cell><Data ss:Type="String"><%= teacher.comment %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

