<div class="divise-form">
<div class="login-head">

</div>
<div>
<h2>Вход в систему</h2>
<hr>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
    <div class="form-inputs">
      <div class="control-group">
        <%= f.label :email, 'Эл. адрес', class: 'control-label'%>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope-alt"></i></span>
            <%= f.input_field :email, :required => false, label: false, :autofocus => true, placeholder: 'Email address'%>
          </div>
        </div>
      </div>
    </div>

      <div class="form-inputs">
        <div class="control-group">
          <%= f.label :password, 'Пароль', class: 'control-label'%>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <%= f.input_field :password, :required => false, label: false, placeholder: 'Password' %>
            </div>
          </div>
        </div>
      </div>


  <div class="remember-me">
              <%= f.label :remember_me, 'Запомнить меня'%>
              <%= f.input_field :remember_me, :as => :boolean%>
  </div>


              <div class="form-inputs">
                <div class="control-group">
                  <%= label_tag%>
                      <div class="controls">
                        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                            <i class="icon-signin"></i> Войти
                        <% end %>
                        </div>
                      </div>
                      </div>
<% end %>
<% if User.all.empty? %>
    <%= render "devise/shared/links" %>
<% end %>
</div>
</div>