<h1>Источники</h1>
<%if user_role != "visitor"%>
<%= link_to 'новый район', new_resource_path %> |
    <%end%>
    <%= link_to 'загрузить таблицу в XLS формате', district_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th>название</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.name %></td>
    <td><%= link_to 'см.', resource %></td>
    <%if user_role != "visitor"%>
    <td><%= link_to 'ред.', edit_resource_path(resource) %></td>
    <td><%= link_to 'уд.', resource, confirm: 'Вы уверены?', method: :delete %></td>
        <%end%>
  </tr>
<% end %>
  </tbody>
</table>

