<%= simple_form_for(@payment, :html => { :class => 'form-horizontal' }) do |f| %>
    <div class="input">
      <%=f.label :date, "дата" %>
    <%= f.text_field :date%>
    </div>

    <%= f.input :summ, label: "сумма" %>
    <div id="fix-payments">
      <%= f.input :type, :collection => ["наличный расчет", "безналичный расчет"], :as => :radio_buttons, label: "форма оплаты" %>
    </div>

    <div>
      <%= f.label "клиент"%>
      <%= text_field_tag :client, nil, id: "client_#{action_name}", data: {autocomplete_source: @collect_c.map(&:fio) } %>
    </div>

    <div id="current_course" >

    </div>


    <div id="graphic">
      <%= f.label "график"%>
      <%= text_field :schedule, nil, :autocomplete => 'off'%>
    </div>


    <div class="input">
      <%=f.label :start, "начало" %>
      <%= f.text_field :start%>
    </div>

    <div class="input">
      <%=f.label :end, "конец" %>
      <%= f.text_field :end%>
    </div>

    <div class="input">
      <%=f.label :pay_from, "с" %>
      <%= f.text_field :pay_from%>
    </div>

    <div class="input">
      <%=f.label :end, "по" %>
      <%= f.text_field :pay_to%>
    </div>



    <%= f.label "договор"%>
    <%= text_field :order_number, nil, :autocomplete => 'off'%>

    <%= f.input :order_id, as: :hidden%>

    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', payments_path, class: "btn"%>
            </div>
            </div>

        <% end %>