<%= simple_form_for(@payment, :html => { :class => 'form-horizontal' }) do |f| %>
    <div class="input">
    <label for="date" class="select required control-label"><abbr title="required">*</abbr>дата</label>
    <%= f.text_field :date%>
    </div>

    <%= f.input :summ, label: "сумма" %>
    <div id="fix-payments">
      <%= f.input :type, :collection => ["наличный расчет", "безналичный расчет"], :as => :radio_buttons, label: "форма оплаты"%>
    </div>

    <div class="input">
      <label for="client" class="select required control-label"><abbr title="required">*</abbr>клиент</label>
      <%= text_field_tag :client, nil, id: "client_new", data: {autocomplete_source: @collect_c.map(&:fi_and_phone) } %>
    </div>

    <div id="select_list" >

    </div>

    <%= f.label "договор"%>
    <%= text_field :order_number, nil, :autocomplete => 'off'%>

    <%= f.input :order_id, as: :hidden, error: false%>

    <div id="graphic">
      <%= f.label "график"%>
      <%= text_field :schedule, nil, :autocomplete => 'off'%>
    </div>


      <%= f.input :hours, :label => "кол. часов"%>


    <div id="office" class="input">
      <%= f.label "офис"%>
      <%= text_field :office, nil, :autocomplete => 'off'%>
    </div>

    <div class="input">
      <%= f.label :pay_from, "с"%>
      <%= f.text_field :pay_from%>
    </div>

    <div class="input">
      <%= f.label :pay_to, "по"%>
      <%= f.text_field :pay_to%>
    </div>



    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', payments_path, class: "btn"%>
            </div>
            </div>

        <% end %>