<%= simple_form_for(@payment, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.input :date, label: "дата" %>
  <%= f.input :summ, label: "сумма" %>
    <div id="fix-payments">
  <%= f.input :type, :collection => ["наличный расчет", "безналичный расчет"], :as => :radio_buttons, label: "форма оплаты" %>
    </div>

    <div>
  <%= f.label "клиент"%>
  <%= text_field_tag :client, nil , data: {autocomplete_source: @collect_c.map(&:fio) } %>
  </div>

    <div>
      <%= f.label "курс"%>
      <%= collection_select(:course , nil, @res, :id, :name, {include_blank:true}, {onchange: "$.post('new', $('#course_').serialize(), {}, 'script' );" })  %>
    </div>


    <div>
      <%= f.label "график"%>
      <%= text_field :schedule, nil%>
    </div>


    <div>
      <%= f.input :pay_from, label: "c"%>
      <%= f.input :pay_to, label: "по"%>
    </div>

    <%= f.input :order_id, label: "договор" %>

  <%= f.button :submit,"сохранить" %>

<% end %>
