<%= simple_form_for(@payment, :html => { :class => 'form-horizontal' }) do |f| %>
    <div class="input">
    <label for="date" class="select required control-label"><abbr title="required">*</abbr>дата</label>
    <%= f.text_field :date%>
    </div>

    <%= f.input :summ, label: "сумма" %>
    <div id="fix-payments">
      <%= f.input :type, :collection => ["наличный расчет", "безналичный расчет"], :as => :radio_buttons, label: "форма оплаты"%>
    </div>



    <%=f.input :client, label: "клиент", :input_html => { data: {autocomplete_source: @collect_c.map(&:fi_and_phone) }, id: "client_new"}%>

    <div id="select_list" >

      <div class="input">
        <%if @client_courses_edit.present?%>
        <label for="course_id" class="select required control-label"><abbr title="required">*</abbr>курс</label>
        <%= collection_select(:course_id , nil, @client_courses_edit, :id, :name, {:include_blank => true}, {onchange: "$.post('search_options',  {course_id: $(this).val(), client: $('#client_new').val()}, {}, 'script' );"}) %>
        <%end%>
      </div>

    </div>


    <%= f.input :order_name, label: "договор", :input_html => { :autocomplete => 'off'}%>


    <%= f.input :order_id, as: :hidden, error: false%>


    <%= f.input :schedule, label: "график", :input_html => { :autocomplete => 'off'}%>

    <%= f.input :hours, :label => "кол. часов"%>

    <%= f.input :office, label: "офис", :input_html => { :autocomplete => 'off'}%>



    <div id="submit">
      <%= f.button :submit, :value => "сохранить"%>
      <div>
        <%= link_to 'к списку', payments_path, class: "btn"%>
            </div>
            </div>

        <% end %>