<p>
  <b>Дата:</b>
  <%= @payment.date %>
</p>

<p>
  <b>Сумма:</b>
  <%= @payment.summ %>
</p>

<p>
  <b>Форма оплаты:</b>
  <%= @payment.type %>
</p>

<p>
  <b>Договор:</b>
  <%= @payment.order.try(:number) %>
</p>

<p>
  <b>Клиент:</b>
  <%= client_fio_normalize(@payment.client)%>
</p>

<p>
  <b>Курс:</b>
  <%= @payment.course.try(:name) %>
</p>

<p>
  <b>График:</b>
  <%= @payment.schedule %>
</p>

<p>
  <b>Часы:</b>
  <%= @payment.hours %>
</p>

<p>
  <b>Офис:</b>
  <%= @payment.office %>
</p>