<h1>Платежи по договорам</h1>

<%= link_to 'новый платеж', new_payment_path %> | <%= link_to 'загрузить таблицу в XLS формате', payments_to_xls_path + ".xls" %>
<table id="demotable" class="table table-striped">
  <thead>
    <tr class="sort">
      <th>дата</th>
      <th>сумма</th>
      <th>форма оплаты</th>
      <th>договор</th>
      <th>начало</th>
      <th>конец</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.date %></td>
        <td><%= payment.summ %></td>
        <td><%= payment.type %></td>
        <td><%= payment.order.name %></td>
        <td><%= payment.try(:start) %></td>
        <td><%= payment.try(:end) %></td>
        <td><%= link_to 'см.', payment %></td>
        <td><%= link_to 'ред.', edit_payment_path(payment) %></td>
        <td><%= link_to 'уд.', payment, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

