<h1>Выплаты по договорам</h1>

<%= link_to 'новый платеж', new_payment_path %> | <%= link_to 'загрузить таблицу в XLS формате', payments_to_xls_path + ".xls" %> | сортировать по:  <%= render 'sort_by'%>
<table id="demotable" class="table table-striped">
  <thead>
    <tr class="sort">
      <th> <div id="count" style="text-align: center; color: #000000;"></div> дата</th>
      <th> <div id="result" style="text-align: center; color: #000000;"></div> сумма</th>
      <th>форма оплаты</th>
      <th>договор</th>
      <th>начало</th>
      <th>конец</th>
      <th>период оплаты с:</th>
      <th>период оплаты по:</th>
      <th>создано</th>
      <th>отредактировано</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr class=<%= "tr" if payment.summ.present?%>>
        <td><%= payment.date %></td>
        <td class="sum"><%= payment.summ %></td>
        <td><%= payment.type %></td>
        <td><%= payment.order.number if payment.order_id.present? %></td>
        <td><%= payment.try(:start) %></td>
        <td><%= payment.try(:end) %></td>
        <td><%= payment.pay_from %></td>
        <td><%= payment.pay_to %></td>
        <td><%= payment.created_at %></td>
        <td><%= payment.updated_at %></td>
        <td><%= link_to 'см.', payment %></td>
        <td><%= link_to 'ред.', edit_payment_path(payment) %></td>
        <td><%= link_to 'уд.', payment, confirm: 'Вы уверены?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        var count =0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += parseFloat($(this).find(".sum").html());
            }
        });
        $('tbody tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                count+=1;
            }
        });
        $('#result').text(res);
        $('#count').text(count);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                var count =0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += parseFloat($(this).find(".sum").html());
                    }
                });
                $('tbody tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        count+=1;
                    }
                });
                $('#result').text(res);
                $('#count').text(count);
            }, 350 );
        });


    });

</script>
