<div class='table-actions'>
  <h1 class='page-title'>Выплаты по договорам</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_payment_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to payments_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @payments, :window => 2 %>
</div>

<table id="demotable" class="table table-striped">
  <thead>
    <tr class="sort">
      <th class='record-manipulate'></th>
      <th> <div id="count" style="text-align: center; color: #000000;"></div> дата</th>
      <th> <div id="result" style="text-align: center; color: #000000;"></div> сумма</th>
      <th>форма оплаты</th>
      <th>договор</th>
      <th>клиент</th>
      <th>курс</th>
      <th>график</th>
      <th>часы</th>
      <th>офис</th>
      <th>создано</th>
      <th>отредактировано</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr class=<%= "tr" if payment.summ.present?%>>
        <td class="manipulate-box">
          <ul>
            <li><%= link_to payment do %> <i class="icon-search"></i>
              <% end %></li>
            <% if user_role != "visitor" %>
                <li><%= link_to edit_payment_path(payment) do %> <i class="icon-pencil"></i>
                  <% end %></li>
                <li><%= link_to payment, confirm: 'Вы уверены?', method: :delete do %>
                      <i class="icon-trash"></i>
                  <% end %></li>
            <% end %>
          </ul>
        </td>
        <td><%=payment.date%></td>
        <td class="sum"><%= payment.summ %></td>
        <td><%= payment.type %></td>
        <td><%= payment.order.try(:number) %></td>
        <td><%= client_fio_normalize(payment.client)%></td>
        <td><%= payment.course.try(:name) %></td>
        <td><%= payment.schedule %></td>
        <td><%= payment.hours %></td>
        <td><%= payment.office %></td>
        <td><%= payment.created_at.strftime("#{formating_month(payment.created_at)} %H:%M:%S") %></td>
        <td><%= payment.updated_at.strftime("#{formating_month(payment.updated_at)} %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-block">
  <%= paginate @payments, :window => 2 %>
</div>

<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        var count =0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += parseFloat($(this).find(".sum").html());
            }
        });
        $('tbody tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                count+=1;
            }
        });
        $('#result').text(res);
        $('#count').text(count);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                var count =0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += parseFloat($(this).find(".sum").html());
                    }
                });
                $('tbody tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        count+=1;
                    }
                });
                $('#result').text(res);
                $('#count').text(count);
            }, 350 );
        });


    });

</script>
