<h1>Платежи по договорам</h1>

<table id="demotable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Summ</th>
      <th>Type</th>
      <th>Order</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.date %></td>
        <td><%= payment.summ %></td>
        <td><%= payment.type %></td>
        <td><%= payment.order.name %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
