<p id="notice"><%= notice %></p>


<%= link_to 'редактировать', edit_payment_path(@payment) %> |
<%= link_to 'к списку', payments_path %>

<p>
  <b>дата:</b>
  <%= @payment.date %>
</p>

<p>
  <b>сумма:</b>
  <%= @payment.summ %>
</p>

<p>
  <b>форма оплаты:</b>
  <%= @payment.type %>
</p>

<p>
  <b>договор:</b>
  <%= @payment.order.try(:number) %>
</p>

<p>
  <b>клиент:</b>
  <%= client_fio_normalize(@payment.client)%>
</p>

<p>
  <b>курс:</b>
  <%= @payment.course.try(:name) %>
</p>

<p>
  <b>график:</b>
  <%= @payment.schedule %>
</p>

<p>
  <b>часы:</b>
  <%= @payment.hours %>
</p>

<p>
  <b>офис:</b>
  <%= @payment.office %>
</p>

