<p id="notice"><%= notice %></p>


<%= link_to 'редактировать', edit_payment_path(@payment) %> |
<%= link_to 'к списку', payments_path %>

<p>
  <b>дата:</b>
  <%= @payment.date %>
</p>

<p>
  <b>сумма:</b>
  <%= @payment.summ %>
</p>

<p>
  <b>форма оплаты:</b>
  <%= @payment.type %>
</p>

<p>
  <b>курс:</b>
  <%= @payment.course %>
</p>

<p>
  <b>договор:</b>
  <%= @payment.order.number %>
</p>

<p>
  <b>график:</b>
  <%= @payment.schedule %>
</p>

<p>
  <b>часы:</b>
  <%= @payment.hours %>
</p>

<p>
  <b>офис:</b>
  <%= @payment.office %>
</p>

<p>
  <b>c:</b>
  <%= @payment.pay_from %>
</p>

<p>
  <b>по:</b>
  <%= @payment.pay_to %>
</p>



<p>
  <b>начало:</b>
  <%= @payment.start %>
</p>
<p>
  <b>конец:</b>
  <%= @payment.end %>
</p>



