<div class='table-actions'>
  <h1 class='page-title'>Объекты расходов</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_objects_of_expenditure_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to obj_of_expend_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @objects_of_expenditures, :window => 2 %>
</div>

<table id="demotable" class="table table-striped">
  <thead>
  <tr class="sort">
    <th class='record-manipulate'></th>
    <th>название</th>
  </tr>
  </thead>
  <tbody>

  <% @objects_of_expenditures.each do |expenditure| %>
      <tr>
        <td class="manipulate-box">
          <ul>
            <li><%= link_to expenditure do %> <i class="icon-search"></i>
              <% end %></li>
            <% if user_role != "visitor" %>
                <li><%= link_to edit_objects_of_expenditure_path(expenditure) do %> <i class="icon-pencil"></i>
                  <% end %></li>
                <li><%= link_to expenditure, confirm: 'Вы уверены?', method: :delete do %>
                      <i class="icon-trash"></i>
                  <% end %></li>
            <% end %>
          </ul>
        </td>
        <td><%= expenditure.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />


