<h1>Курсы</h1>

<%= link_to 'новый курс', new_course_path %> | <%= link_to 'загрузить таблицу в XLS формате', courses_to_xls_path + ".xls" %>
<table id="demotable"  class="table table-striped">
  <thead>
  <tr class="sort">
    <th><div id="result" style="text-align: center; color: #000000;"></div> направление</th>
    <th>предмет</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @courses.each do |course| %>
  <tr class="tr">
    <td><%= course.direction %></td>
    <td><%= course.subject %></td>
    <td><%= link_to 'см.', course %></td>
    <td><%= link_to 'ред.', edit_course_path(course) %></td>
    <td><%= link_to 'уд.', course, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>


<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += 1;
            }
        });
        $('#result').text(res);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += 1;
                    }
                });
                $('#result').text(res);
            }, 350 );
        });

    });

</script>

