<div class='table-actions'>
  <h1 class='page-title'>Курсы</h1>
  <ul class='create-download'>
    <% if user_role != "visitor" %>
        <li>
          <%= link_to new_course_path do %>
              <i class='icon-plus-sign icon-2x'></i>
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to courses_to_xls_path + ".xls" do %>
          <i class='icon-save icon-2x'></i>
      <% end %>
    </li>
  </ul>
  <% if flash[:notice] %>
      <span style="color: #41b140;"><%= flash[:notice] %></span>
  <% end %>
  <hr>
  <%= paginate @courses, :window => 2 %>
</div>

<table id="demotable"  class="table table-striped">
  <thead>
  <tr class="sort">
    <th class='record-manipulate'></th>
    <th><div id="result" style="text-align: center; color: #000000;"></div> направление</th>
    <th>предмет</th>
  </tr>
  </thead>
  <tbody>
<% @courses.each do |course| %>
  <tr class="tr">
    <td class="manipulate-box">
      <ul>
        <li><%= link_to course do %> <i class="icon-search"></i>
          <% end %></li>
        <% if user_role != "visitor" %>
            <li><%= link_to edit_course_path(course) do %> <i class="icon-pencil"></i>
              <% end %></li>
            <li><%= link_to course, confirm: 'Вы уверены?', method: :delete do %>
                  <i class="icon-trash"></i>
              <% end %></li>
        <% end %>
      </ul>
    </td>
    <td><%= course.direction %></td>
    <td><%= course.subject %></td>
  </tr>
<% end %>
  </tbody>
</table>


<script>
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $(document).ready(function() {
        var res=0;
        $('.tr').each(function(){
            if ( getComputedStyle(this,null).display != "none") {
                res += 1;
            }
        });
        $('#result').text(res);

        $('input').keyup(function() {
            delay(function(){
                var res=0;
                $('.tr').each(function(){
                    if ( getComputedStyle(this,null).display != "none") {
                        res += 1;
                    }
                });
                $('#result').text(res);
            }, 350 );
        });

    });

</script>

