<div class="form-wrap clearfix">
  <h1>Новый эл. ящик</h1>
  <hr>
  <%= flash[:notice]%>
<%= simple_form_for(@mail_box) do |f| %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>

  <div class="form-inputs">
    <%= f.input :email, label: "Email" %>
    <%= f.input :password, label: "Пароль" %>
    <%= f.association :resource, label: "Ресурс" %>
  </div>

    <div id="submit">
      <%= f.button :submit, :value => "Сохранить"%>
      <div>
        <%= link_to 'К списку', mail_boxes_path, class: "btn"%>
            </div>
            </div>
<% end %>
</div>