<h1>mail boxes</h1>

<table id="demotable" class="table table-striped tablesorter">
  <thead>
  <tr class="sort">
    <th>email</th>
    <th>пароль</th>
    <th>ресурс</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<tbody>
<% @mail_boxes.each do |mail_box| %>
  <tr>
    <td><%= mail_box.email %></td>
    <td><%= mail_box.password %></td>
    <td><%= mail_box.resource %></td>
    <td><%= link_to 'Show', mail_box %></td>
    <td><%= link_to 'Edit', edit_mail_box_path(mail_box) %></td>
    <td><%= link_to 'Destroy', mail_box, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'Новый ящик', new_mail_box_path %>
